{
  "presets": ["next/babel",[
		"@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
				"include": ['Built-ins']
      }
	]],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
